.container {
    width: 500px;
    height: auto;
    background-color: #fff;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
    border-radius: 10px;
    padding: 20px;
}

.container__input {
    display: flex;
    justify-content: space-between;
}

.inputText {
    width: 75%;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #306FEE;
}

.buttonAdd {
    width: 20%;
    background-color: #306FEE;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

.buttonAdd:hover {
    background-color: #2e69de;
}

.groupComments {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
    width: 100%;
}

.divComment {
    background-color: #C9E2E7;
    width: 100%;
    height: 50px;
    border: 1px solid #BECBCF;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
}

.pComment {
    padding-left: 10px;
    width: 90%;
    font-size: 1.2em;
}

.poubelleComment {
    cursor: pointer;
    font-size: 30px;
    margin: 5px;
}

.poubelleComment:hover {
    transform: scale(1.2);
    transition: 0.4s;
}